* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: rgb(243, 246, 247);
}

.container {
  color: #4b4b4b;
}

.nav {
  padding: 64px 24px 8px 24px;
  box-shadow: 0 0px 15px 16px rgba(0, 0, 0, 0.02);
  background-color: white;
}

.nav h4 {
  font-size: 18px;
  color: #4b4b4b;

}

:global button:focus {
  outline: 0;
}

:global .btn-floater {
  display: block;
  background-color: transparent;
  border: 1px solid darkorange;
  padding: 3px;
  border-radius: 3px;
  color: darkorange;
  font-size: 12px;
  margin: 12px 0 0 0;
}

:global .btn-floater:hover {
  background-color: darkorange;
  border: 1px solid darkorange;
  color: white;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}

:global .btn-primary {
  display: block;
  background-color: rgb(28, 110, 235);
  border: rgb(28, 110, 235);
  padding: 16px;
  border-radius: 2rem;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin: 12px 0 0 0;
}

:global input,
:global textarea {
  border: 1px solid lightgrey;
  color: #4b4b4b;
  border-radius: 3px;
}

:global input::placeholder,
:global textarea::placeholder {
  color: lightgrey;
}

:global input:focus,
:global textarea:focus {
  outline: none;
}

:global a {
  text-decoration: none;
}

:global a:visited {
  text-decoration: none;
}